/* info-box-style(ib) */
.ibRoot {
  background-color: #2d224c;
  border-radius: 9px;
  padding-bottom: 2vh;
  position: relative;
  height: 379px;
}
.ibRoot .indexText {
  font-size: calc(16px + 0.4vw);
}

.ibRoot .overlayContent {
  height: 238px;
}
.ibRoot .content {
  display: flex;
  flex-direction: row;
  gap: min(1rem, 2vw);
  align-items: center;
  background-color: #8065c9;
  position: relative;
  top: 0px;
  z-index: 4;
  height: 104px;
  border-radius: 9px 9px 0px 0px;
  padding-inline: min(4vw, 3.5rem);
}
@media (min-width: 1180px) {
  .ibRoot {
    height: 513px;
  }
  .ibRoot .indexText {
    font-size: max(24px, calc(20px + 0.1vw));
  }
  .ibRoot .overlayContent {
    height: 320px;
  }
}
@media (max-width: 1180px) {
  .ibRoot .index {
    min-width: calc(39px + 0.05vw);
    width: calc(39px + 0.05vw);
    max-width: calc(39px + 0.05vw);
    height: calc(39px + 0.05vw);
  }
  .ibRoot .indexText {
    font-size: calc(16px + 0.4vw);
  }
  .ibRoot .content {
    height: 80px;
    padding-inline: min(2.5vw, 1rem);
  }
}

/* timer */
.timerRoot {
  display: grid;
  grid-template-rows: 64px 26px;
  width: 25%;
  max-width: 121px;
  min-width: 76px;
}
.timerRoot div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timerRoot .value {
  border-radius: 9px 9px 0px 0px;
  background: #ffffff;
  color: #8065c9;
  font-weight: 600;
  font-size: 42px;
  padding: 5px;
}
.timerRoot .label {
  text-transform: uppercase;
  border-radius: 0px 0px 9px 9px;
  background: #8065c9;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}
@media (min-width: 1180px) {
  .timerRoot {
    grid-template-rows: 94px 36px;
    width: 118px;
  }
  .timerRoot .value {
    font-size: 64px;
  }
  .timerRoot .label {
    font-size: 16px;
  }
}

/* price styling  */
